* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Fonts */
@font-face {
	font-family: 'Cyberpunk Regular';
	src: url('./fonts/cyberpunk_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/cyberpunk_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/cyberpunk_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/cyberpunk_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/cyberpunk_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/cyberpunk_regular.svg#cyberpunk_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'beer money';
	src: url('./fonts/beer_money.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/beer_money.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/beer_money.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/beer_money.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/beer_money.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/beer_money.svg#beer_money') format('svg'); /* Chrome < 4, Legacy iOS */
}
/* ////// */

body {
	background: #1a1a1a url(./img/bglines.svg) center;
	background-size: cover;
	-webkit-background-size: cover;
	cursor: url(./cursor/arrow.cur), default;
}

.header {
	height: 235px;
	width: 100%;
	background-color: #FCEE0A;
	background-image: url(./img/headerlines.svg);
	background-size: cover;
	-webkit-background-size: cover;
	border-bottom: 4px ridge #00FFD2;
}

.main-nickname {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.nickname {
	font-family: 'Cyberpunk Regular';
	color: #3B363C;
	font-size: 100px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #00FFD2;
	animation: Aftercraig 2s ease 0s infinite normal forwards;
}

@keyframes Aftercraig {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(-2px, 2px);
	}
	40% {
		transform: translate(-2px, -2px);
	}
	60% {
		transform: translate(2px, 2px);
	}
	80% {
		transform: translate(2px, -2px);
	}
	100% {
		transform: translate(0);
	}
}

.buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 150px 0 150px;
}

.VK {
	font-family: 'beer money';
	background-color: #F7EE6C;
	border: 3px #3D3D3D solid;
	color: #3B363C;
	border-radius: 15px;
	width: 200px;
	padding: 15px 15px;
	text-decoration: none;
	font-size: 25px;
}

.VK:hover {
	background-color: #D8D05F;
	transition: background-color 0.2s linear;
	cursor: url(./cursor/link.cur), pointer;
}

.audio {
	border: 3px #3D3D3D solid;
	border-radius: 15px;
	background-color: #F7EE6C;
	margin: 10px 50px 0 50px;
	padding: 10px 10px;
}

.GitHub {
	font-family: 'beer money';
	background-color: #F7EE6C;
	border: 3px #3D3D3D solid;
	color: #3B363C;
	border-radius: 15px;
	width: 200px;
	padding: 15px 15px;
	text-decoration: none;
	font-size: 25px;
}

.GitHub:hover {
	background-color: #D8D05F;
	transition: background-color 0.2s linear;
	cursor: url(./cursor/link.cur), pointer;
}

.judy-block {
	display: flex;
	flex-direction: row;
	padding: 60px 30px;
}

.judy {
	width: 250px;
	height: 250px;
	pointer-events: none;
}

.judy-message {
	margin-left: 30px;
	font-family: 'beer money';
	font-size: 40px;
	color: #3FCAC2;
	border: 3px #3FCAC2 solid;
	border-radius: 15px;
	background-color: #4ad8eb36;
	padding: 30px 30px;
}

.judy-h1 {
	font-family: 'Cyberpunk Regular';
	color: #68ffe3;
	font-size: 50px;
	padding-bottom: 20px;
}

.judy-body {
	display: flex;
	flex-direction: row-reverse;
	padding: 0 30px 0 30px;
}

.judy-png {
	pointer-events: none;
	padding-left: 30px;
}

.judy-full-text {
	font-family: 'beer money';
	font-size: 40px;
	color: #3FCAC2;
	border: 3px #3FCAC2 solid;
	border-radius: 15px;
	background-color: #4ad8eb36;
	padding: 30px 30px;
}

.video {
	display: flex;
	justify-content: center;
	padding-top: 30px;
	border-top: 4px ridge #00FFD2;
}

.description {
	padding-bottom: 20px;
}

.silverhand-message {
	font-family: 'beer money';
	font-size: 40px;
	color: #3FCAC2;
	border: 3px #3FCAC2 solid;
	border-radius: 15px;
	background-color: #4ad8eb36;
	padding: 30px 30px;
	max-height: 150px;
}

.silverhand-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 60px 30px 0 30px;
	pointer-events: none;
}

footer {
	height: 235px;
	width: 100%;
	background-color: #FCEE0A;
	background-image: url(./img/headerlines.svg);
	background-size: cover;
	-webkit-background-size: cover;
	border-top: 4px ridge #00FFD2;
}

.author {
	font-family: 'beer money';
	color: #3B363C;
	font-size: 70px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #00FFD2;
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 100px;
}

@media screen and (min-width:305px) and (max-width:970px) {

}